body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.container {
  align-items: center;
  width: 300px;
  margin-top: 140px;
  padding: 15px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
}

.qr-code img {
  width: 300px;
  height: 290px;
  border-radius: 15px;
}

.info-container {
  display: flex;
  flex-direction: column;

  text-align: center;
  margin: 20px;
}

.info-primary {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.info-secondary {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
